body{
    background-color: black;
}
.container{
    width: 50%;
   text-align: center;
   color: white;
   font-size: 20px;
   font-family: 'Mulish', sans-serif;
   margin: auto;
   background-color: rgb(96, 70, 243);
   padding: 2rem;
   box-shadow: 5px 5px 10px #9063fa;
   margin-top: 3rem;
   border-radius: 2rem;
}
img{
    width: 20%;
}
button{
    width: 130px;
    height: 38px;
    border: none;
    font-size: 24px;
    padding: 5px;
    outline: none;
    cursor: pointer;
    background-color: rgb(231, 21, 21);
    color: white;
    border-radius: 4px;
}
@media (max-width: 530px) {
    .container{
        width: 70%;
        margin-top: 10rem;
    }
    }